<h1 class="title">New Task:</h1>
<hr>

<div class="column is-two-thirds">
    <%= form_for @task do |f| %>

    <%= f.label :Title, :class => 'label' %>
    <p class="control">
      <%= f.text_field :title, :class => 'input' %>
    </p>

    <%= f.label :Note, :class => 'label' %>
    <p class="control">
      <%= f.text_field :note, :class => 'input' %>
    </p>

    <%= f.label :Completed, :class => 'label' %>
    <p class="control">
      <%= f.text_field :completed, :class => 'input' %>
    </p>

    <p class="control">
      <%= f.submit 'Save', :class => 'button is-primary is-medium' %>
    </p>
    <% end %>
</div>
